<nav>
    <div class="logo">
        <a href="#"><em>ViajandoConMiTío</em>.com</a>
    </div>
    <div class="link">
            <a class="nav-link active" aria-current="page" type="button">Inicio</a>
            <a class="nav-link" type="button" data-bs-toggle="modal" href="#exampleModalToggle">Solicitar auto</a>
            <a class="nav-link" type="button" (click)="onLogout()"><img src="../../../assets/img/usuario.png" width="38px"></a>
    </div>

</nav>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Solicitar Auto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" #form="ngForm" (submit)="solicitud(form)">
                <div class="col-md-6">
                  <label class="form-label">Origen</label>
                  <input type="text" class="form-control" placeholder="Lugar de recogida" id="origin"
                  #origin ="ngModel" name="origin" [(ngModel)]="formModel.origin" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Destino</label>
                  <input type="text" class="form-control" placeholder="Destino" id="destiny"
                  #destiny="ngModel" name="destiny" [(ngModel)]="formModel.destiny" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Tarifa</label>
                  <input type="number" class="form-control" placeholder="$ Ofrezca su tarifa" id="price"
                  #price="ngModel" name="price" [(ngModel)]="formModel.price" min="10" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Comentarios</label>
                    <input type="text" class="form-control" placeholder="Comentarios y deseos" id="comment"
                    #comment="ngModel" name="comment" [(ngModel)]="formModel.comment">
                  </div>
                <div class="col-12">
                  <button class="btn btn-success" type="submit" [disabled]="form.invalid">Solicitar</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>